name: mehrakcore
services:
  bot:
    image: mehrak:latest
    build:
      context: ./MehrakBot
      args:
        DOTNET_ENVIRONMENT: Development
        OPENCV_VERSION: ${OPENCV_VERSION:-4.12.0}
      dockerfile: Dockerfile
    ports:
      - "5000:80"
    depends_on:
      - mongodb
      - redis
    networks:
      - mehrak-network
    volumes:
      - app-logs:/app/logs
    environment:
      - DOTNET_ENVIRONMENT=Development

  postgres:
    image: postgres:18.1
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/data/postgres
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=mehrak_dev
      - PGDATA=/data/postgres
    networks:
      - mehrak-network

  mongodb:
    image: mongo:latest
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=Mehrak-Dev
    networks:
      - mehrak-network

  redis:
    image: redis:alpine
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
    restart: unless-stopped
    command: redis-server --appendonly yes --requirepass ${REDIS_PASSWORD}
    networks:
      - mehrak-network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    ports:
      - "9091:9090"
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--storage.tsdb.retention.size=10GB"
      - "--storage.tsdb.retention.time=2y"
    networks:
      - mehrak-network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - mehrak-network

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/ssl:/etc/nginx/ssl
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - grafana
    networks:
      - mehrak-network

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    command:
      - "--path.procfs=/host/proc"
      - "--path.sysfs=/host/sys"
      - "--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    networks:
      - mehrak-network

  loki:
    image: grafana/loki:3.5.8
    command: -config.file=/etc/loki/local-config.yaml
    ports:
      - "3100:3100"
    volumes:
      - ./grafana/loki-config.yaml:/etc/loki/local-config.yaml
      - ./grafana/loki-data:/tmp/loki
    networks:
      - mehrak-network

networks:
  mehrak-network:
    driver: bridge

volumes:
  mongo_data:
  pgdata:
  redis_data:
  prometheus-data:
  grafana-data:
  app-logs:
    driver: local
    driver_opts:
      type: none
      device: ./MehrakBot/logs
      o: bind
