name: mehrakcore
services:
  bot:
    image: mehrak:latest
    build:
      context: ./MehrakBot
      dockerfile: Dockerfile
      target: bot
      args:
        OPENCV_VERSION: ${OPENCV_VERSION:-4.12.0}
    ports:
      - "5000:9090"
    depends_on:
      - mongodb
      - postgres
      - redis
    volumes:
      - app-logs:/app/logs
    networks:
      - mehrak-network

  dashboard:
    image: mehrak-dashboard:latest
    build:
      context: ./MehrakBot
      dockerfile: Dockerfile
      target: dashboard
      args:
        OPENCV_VERSION: ${OPENCV_VERSION:-4.12.0}
    depends_on:
      - postgres
      - redis
    networks:
      - mehrak-network

  postgres:
    image: postgres:18.1
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/data/postgres
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=mehrak_dev
      - PGDATA=/data/postgres
    networks:
      - mehrak-network

  mongodb:
    image: mongo:latest
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=MehrakBot
    networks:
      - mehrak-network

  redis:
    image: redis:alpine
    volumes:
      - redis_data:/data
    restart: unless-stopped
    command: redis-server --appendonly yes --requirepass ${REDIS_PASSWORD}
    networks:
      - mehrak-network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--storage.tsdb.retention.size=10GB"
      - "--storage.tsdb.retention.time=2y"
    networks:
      - mehrak-network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "127.0.0.1:3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD:-admin123}
      - GF_SERVER_DOMAIN=${DOMAIN}
      - GF_SERVER_ROOT_URL=https://${DOMAIN}
      - GF_SECURITY_COOKIE_SECURE=true
      - GF_SECURITY_STRICT_TRANSPORT_SECURITY=true
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_SECURITY_COOKIE_SAMESITE=strict
    networks:
      - mehrak-network

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/ssl:/etc/nginx/ssl
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - grafana
    networks:
      - mehrak-network

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    command:
      - "--path.procfs=/host/proc"
      - "--path.sysfs=/host/sys"
      - "--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    networks:
      - mehrak-network

  loki:
    image: grafana/loki:3.5.8
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./grafana/loki-config.yaml:/etc/loki/local-config.yaml
      - ./grafana/loki-data:/tmp/loki
    networks:
      - mehrak-network

  seaweed-master:
    image: chrislusf/seaweedfs:latest
    command: "master -mdir=/data -ip=seaweed-master -ip.bind=0.0.0.0"
    restart: unless-stopped
    ports:
      - "9333:9333"
      - "19333:19333"
    volumes:
      - ./seaweed-master:/data
    networks:
      - mehrak-network
      - seaweed-network

  seaweed-volume:
    image: chrislusf/seaweedfs:latest
    command: "volume -mserver=seaweed-master:9333 -dir=/data -ip=seaweed-volume -preStopSeconds=1"
    restart: unless-stopped
    depends_on:
      - seaweed-master
    ports:
      - "8080:8080"
      - "18080:18080"
    volumes:
      - ./seaweed-volume:/data
    networks:
      - seaweed-network

  seaweed-filer:
    image: chrislusf/seaweedfs:latest
    command: 'filer -master="seaweed-master:9333" -ip=seaweed-filer'
    restart: unless-stopped
    depends_on:
      - seaweed-master
      - seaweed-volume
    ports:
      - "8888:8888"
      - "18888:18888"
    volumes:
      - ./seaweed-filer:/data
    networks:
      - seaweed-network

  seaweed-s3:
    image: chrislusf/seaweedfs:latest
    command: 's3 -filer="seaweed-filer:8888" -ip.bind=0.0.0.0 -port=8333 -config=/etc/seaweedfs/s3.json'
    restart: unless-stopped
    depends_on:
      - seaweed-filer
    ports:
      - "8333:8333"
    volumes:
      - ./seaweed-s3/s3.json:/etc/seaweedfs/s3.json:ro
    networks:
      - seaweed-network
      - mehrak-network

networks:
  mehrak-network:
    driver: bridge
  seaweed-network:
    driver: bridge

volumes:
  mongo_data:
  pgdata:
  redis_data:
  prometheus-data:
  grafana-data:
  app-logs:
    driver: local
    driver_opts:
      type: none
      device: ./MehrakBot/logs
      o: bind
