name: mehrakcore
services:
  bot:
    image: mehrak:latest
    build:
      context: ./MehrakBot
      dockerfile: Services/Bot/Dockerfile
      args:
        DOTNET_ENVIRONMENT: Development
        VERSION: ${VERSION:-0.0.0}
    depends_on:
      application:
        condition: service_started
      postgres:
        condition: service_started
      redis:
        condition: service_started
      seaweed-s3:
        condition: service_healthy
    networks:
      - mehrak-network
    environment:
      - DOTNET_ENVIRONMENT=Development

  dashboard:
    image: mehrak-dashboard:latest
    build:
      context: ./MehrakBot
      dockerfile: Services/Dashboard/Dockerfile
      args:
        ASPNETCORE_ENVIRONMENT: Development
        VERSION: ${VERSION:-0.0.0}
    ports:
      - "5000:5000"
    depends_on:
      application:
        condition: service_started
      postgres:
        condition: service_started
      redis:
        condition: service_started
      seaweed-s3:
        condition: service_healthy
    networks:
      - mehrak-network
    environment:
      - ASPNETCORE_ENVIRONMENT=Development

  application:
    image: mehrak-application:latest
    build:
      context: ./MehrakBot
      dockerfile: Services/Application/Dockerfile
      args:
        ASPNETCORE_ENVIRONMENT: Development
        OPENCV_VERSION: ${OPENCV_VERSION:-4.12.0}
        VERSION: ${VERSION:-0.0.0}
    depends_on:
      postgres:
        condition: service_started
      redis:
        condition: service_started
      seaweed-s3:
        condition: service_healthy
    networks:
      - mehrak-network
    environment:
      - ASPNETCORE_ENVIRONMENT=Development

  postgres:
    image: postgres:18.3
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/data/postgres
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=mehrak_dev
      - PGDATA=/data/postgres
    networks:
      - mehrak-network

  redis:
    image: redis:8.6
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
    restart: unless-stopped
    command: redis-server --appendonly yes --requirepass ${REDIS_PASSWORD}
    networks:
      - mehrak-network

  grafana:
    image: grafana/grafana:12.3
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - mehrak-network

  nginx:
    image: nginx:1.29
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/ssl:/etc/nginx/ssl
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - grafana
    networks:
      - mehrak-network

  seaweed-master:
    image: chrislusf/seaweedfs:4.13
    command: "master -mdir=/data -ip=seaweed-master -ip.bind=0.0.0.0"
    restart: unless-stopped
    ports:
      - "9333:9333"
      - "19333:19333"
    volumes:
      - ./seaweed-master:/data
    networks:
      - mehrak-network
      - seaweed-network

  seaweed-volume:
    image: chrislusf/seaweedfs:4.13
    command: "volume -mserver=seaweed-master:9333 -dir=/data -ip=seaweed-volume -preStopSeconds=1"
    restart: unless-stopped
    depends_on:
      - seaweed-master
    ports:
      - "8080:8080"
      - "18080:18080"
    volumes:
      - ./seaweed-volume:/data
    networks:
      - seaweed-network

  seaweed-filer:
    image: chrislusf/seaweedfs:4.13
    command: 'filer -master="seaweed-master:9333" -ip=seaweed-filer'
    restart: unless-stopped
    depends_on:
      - seaweed-master
      - seaweed-volume
    ports:
      - "8888:8888"
      - "18888:18888"
    volumes:
      - ./seaweed-filer:/data
    networks:
      - seaweed-network

  seaweed-s3:
    image: chrislusf/seaweedfs:4.13
    command: 's3 -filer="seaweed-filer:8888" -ip.bind=0.0.0.0 -port=8333 -config=/etc/seaweedfs/s3.json'
    restart: unless-stopped
    depends_on:
      - seaweed-filer
    ports:
      - "8333:8333"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8333/healthz"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - ./seaweed-s3/s3.json:/etc/seaweedfs/s3.json:ro
    networks:
      - seaweed-network
      - mehrak-network

  clickhouse:
    image: clickhouse/clickhouse-server:26.2
    ports:
      - "8123:8123"
      - "9000:9000"
    healthcheck:
      test:
        [
          "CMD",
          "clickhouse-client",
          "--password",
          "${CLICKHOUSE_PASSWORD}",
          "--query",
          "SELECT 1",
        ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - clickhouse_data:/var/lib/clickhouse/
      - clickhouse_logs:/var/log/clickhouse-server/
    environment:
      - CLICKHOUSE_USER=${CLICKHOUSE_USER}
      - CLICKHOUSE_PASSWORD=${CLICKHOUSE_PASSWORD}
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
    networks:
      - mehrak-network

  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.146.1
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./otel/otel-collector-config.yaml:/etc/otel-collector-config.yaml
      - /proc:/hostfs/proc:ro
      - /sys:/hostfs/sys:ro
      - /:/rootfs:ro
    environment:
      - HOST_PROC=/hostfs/proc
      - HOST_SYS=/hostfs/sys
      - HOST_ETC=/hostfs/etc
      - HOST_VAR=/hostfs/var
      - HOST_RUN=/hostfs/run
      - HOST_DEV=/hostfs/dev
      - CLICKHOUSE_PASSWORD=${CLICKHOUSE_PASSWORD}
      - CLICKHOUSE_USER=${CLICKHOUSE_USER}
    ports:
      - "4317:4317" # OTEL gRPC
      - "4318:4318" # OTEL HTTP
    depends_on:
      clickhouse:
        condition: service_healthy
    networks:
      - mehrak-network

networks:
  mehrak-network:
    driver: bridge
  seaweed-network:
    driver: bridge

volumes:
  pgdata:
  redis_data:
  grafana-data:
  clickhouse_data:
  clickhouse_logs:
