name: Validation
permissions:
  contents: write
  actions: write
  checks: write

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build-and-test:
    name: Build & Test
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          lfs: true
          submodules: recursive
          token: ${{ secrets.ASSETS_PAT }}

      - name: Checkout LFS
        run: git lfs pull

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "10.0.x"

      - name: Install libssl1.1 (restores libcrypto.so.1.1 which is required by MongoDB binaries v4.4.4)
        if: runner.os == 'Linux'
        working-directory: ./MehrakBot
        run: |
          echo "deb http://security.ubuntu.com/ubuntu focal-security main" | sudo tee /etc/apt/sources.list.d/focal-security.list 
          sudo apt update 
          sudo apt install -y libssl1.1

      - name: Setup OpenCV
        uses: Dovyski/setup-opencv-action@v1.1
        with:
          opencv-version: "4.12.0"
          install-deps: false

      - name: Restore dependencies
        working-directory: ./MehrakBot
        run: dotnet restore

      - name: Build solution
        working-directory: ./MehrakBot
        run: dotnet build --configuration Release --no-restore

      - name: Run tests
        working-directory: ./MehrakBot
        run: dotnet test

      - name: Upload test output artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-output-images
          path: MehrakBot/Mehrak.Application.Tests/bin/Release/net10.0/Output/
          if-no-files-found: ignore
